@font-face {
	font-family: 'happy-times-reg';
	src: url(font/happy-times-NG_regular_master.otf);
	font-weight: normal;
	font-style: normal;
}

/* --dust-rose: rgb(208, 94, 164); */
/* --third-color: #211ab5;
	--dust-rose: #dca1a1; */
/* --dust-rose: rgb(205, 151, 184); */

/* --dust-rose: rgb(162, 227, 140);
  --third-color: #aa5db1; */

/* 
	--dust-ro se: rgb(208, 206, 94);
  --third-color: #a368a8;
 */

:root {
	--body-font: 'Arial', sans-serif;
	--secondary-font: 'happy-times-reg', 'Times New Roman', serif;
	--text: #000000;
	/* --grey: #9f9f9f; */

	--grey: #000000;

	--dust-rose: rgb(208, 206, 94);
	--third-color: #1d693e;

	font-family: var(--body-font);
	color: var(--text);
	font-size: 16px;
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

html {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	justify-content: space-between;
	overflow-y: scroll;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.label {
	/* border-bottom: 1px solid var(--text); */
	margin: 0 0 1rem 0;
	padding: 0 0 0.5rem 0;
	text-transform: uppercase;
	display: block;
}

header a {
	cursor: pointer;
	color: var(--third-color);
}

header,
main {
	padding: 2.5rem 3rem;
	width: 48%;
	overflow-y: scroll;
}

header .secondary--content article  {
	text-align: justify;
}

.page--divider {
	width: 10%;
	background: linear-gradient(
		90deg,
		white 0%,
		var(--dust-rose) 49%,
		white,
		var(--dust-rose) 51%,
		white 100%
	);
}

.studio__wrapper {
	margin: 0 0 10vh 0;
	line-height: 2ch;
	font-size: 1.85rem;
}

.studio__wrapper,
main section details,
main ol {
	font-family: var(--secondary-font);
}

.studio__wrapper p {
	margin-top: 0;
}

h5 {
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 1rem 0;
	font-family: var(--body-font);
	font-weight: normal;
	font-size: 0.85rem;
	color: var(--grey);
	/* text-decoration: underline; */
	/* font-style: italic; */
	/* ttm */
}

ul,
ol {
	list-style: square;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

main section details summary {
	cursor: pointer;
}

main section details summary:hover {
	color: var(--third-color);
}

main section details summary p {
	font-size: 0.85rem;
	margin: 0 0.25rem 0 0;
}

main section details summary span p:nth-of-type(even)::before {
	padding-right: 0.25rem;
}

main section details summary span p:nth-of-type(even)::after {
	padding-left: 0.25rem;
}

main section details[open] {
	border-bottom: 1px dotted var(--grey);
	margin-bottom: 1rem;
}

main section details[open] summary p,
main section details div p {
	color: var(--third-color);
}

main section details p,
main section details a {
	font-size: 0.85rem;
	font-family: var(--secondary-font);
}

main section details {
	padding: 0 0 1rem 0;
}

section details summary {
	display: grid;
	grid-template-columns: 3fr max-content;
	justify-content: space-between;
}

section details summary + div {
	margin: 1rem 0;
	/* padding: 0 1rem; */
}

main section details div a {
	display: block;
	text-align: center;
	color: var(--third-color);
	margin: 0;
	padding: 2px;
	text-decoration: none;
	box-shadow: var(--third-color) 0px 0px 3px inset;
}

main section details div ul {
	font-size: 0.85rem;
	color: var(--third-color);
	margin-top: 1rem;
	/* list-style: none; */
}

ul li::before {
	/* content:"\2726"; */
	/* content:"\2733"; */
	/* content:"\2734"; */
	/* content:"\276F"; */
	/* content: '\27F6'; */
	padding-right: 0.5rem;
}

main section details div a:hover {
	box-shadow: var(--third-color) 0px 0px 1px inset;
	/* border: 1px solid var(--grey); */
}

section details summary + div img {
	width: 100%;
	height: auto;
}

section details summary + div img[src='undefined'] {
	display: none;
}

section details summary span + p {
	text-align: right;
}

.secondary--content {
	font-size: 0.85rem;
}

main .secondary--content h5 {
	margin-top: calc(10vh + 1rem);
}

.secondary--content p,
.secondary--content li {
	font-family: var(--secondary-font);
}

.secondary--content li:nth-of-type(even) {
	margin: 0.5rem 0;
}

.secondary--content article a {
	color: var(--third-color);
}

.secondary--content article p {
	margin-top: 0;
}
